body {
	font-family: Ubuntu, sans-serif;
	font-size: 14px;
	line-height: 1.25;
	max-width: 75rem;
	display: flex;
	flex-direction: column;
	margin: auto;
	min-height: 100vh;
	height: 100%;
}

/*	Body colors - move to theme or similar	*/
body {
	background: snow;
}

*, *::before, *::after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

header
, footer {
	padding: 0 1rem;
}

main {
	flex: 1 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;  /* required for enabling sticky elements	*/
	justify-content: center;
	gap: 1rem;
}

article {
	flex: 0 1 60%;
	overflow-y: auto;
	min-height: 0;
}

nav
, aside{
	position: sticky;
	top: 0;
	max-height: 100vh;
	flex: 0 0 20%;
	display: flex;
	flex-direction: column;
	min-height: 0;
	padding: 0 1rem;
}

.nav
, .toc {
	flex: 1;
	overflow-y: auto;
	min-height: 0;
}

/*	Table of Contents Elements	*/

.toc > ul,
.nav > ul,
nav > ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.toc ul ul
, .nav ul ul {
	padding-left: 1rem;
}

/*	Colours and styling - TODO: move to theme.css or similar	*/
.toclink
, a {
	color: inherit;
	text-decoration: none;
}

.toclink:hover
, a:hover {
	text-decoration: underline;
}

a {
	color: blue;
}

blockquote
, pre
, .admonition {
	background: cyan;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	margin: 1rem 0;
	border: 0.1rem solid lightblue;
	overflow: scroll;
}

pre
, code {
	font-family: Ubuntu-Mono, monospace;
	background: cyan;
}

code {
	border: 0.1rem solid lightblue;
	border-radius: 0.25rem;
}

pre code {
	border: 0  /* Avoid borders when code is in a pre element	*/
}

.admonition-title {
	font-weight: bold;
}

@media screen and (max-width: 75rem) {
	/*	Width less than 75rem and article shrinks	*/
	body {
	}
}

@media
	screen and (orientation: portrait)
	, screen and (max-width: 50rem)
{
	/*	Narrow view - everything lies in one column	*/
	body {
	}

	main {
		flex-direction: column;
		align-items: stretch;
	}

	nav
	, aside {
		position: relative;
	}

	aside {
		order: -10;
	}

	nav {
		order: -99;
	}

	article {
		order: 99;
		padding: 0 1rem;
	}
}
