<!DOCTYPE html>
<head>
	<title>{% block title %}{% endblock %} - Dumb Home</title>
	<link rel="stylesheet" href={{ url_for('static', filename='fonts.css') }}>
	<link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<header>
		<h1>Dumb home</h1>
	</header>

	<main>
	{% block template %}
	{% endblock %}
	</main>

	<footer>
		<p>Made with <a href="https://github.com/Bugzey/Dumb-Home">Dumb Home</a></p>
	</footer>
</body>
</html>
