{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% set _nav %}
<ul>
	<li>Location
		<ul>
		{% for item in nav.location %}
		<li><a href={{ item.path }}>{{ item.name }}</a></li>
		{% endfor %}
		</ul>
	</li>
	<li>Files
		<ul>
		{% for item in nav.files %}
		<li><a href={{ item.path }}>{{ item.name }}</a></li>
		{% endfor %}
		</ul>
	</li>
	<li>Folders
		<ul>
		{% for item in nav.folders %}
		<li><a href={{ item.path }}>{{ item.name }}</a></li>
		{% endfor %}
		</ul>
	</li>
</ul>
{% endset %}

{% block nav %}
{{ _nav }}
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
{{ _nav }}
{% endblock %}
